body.single.single-episode {
    .post-header {
        background: #3EA19B;
        margin-bottom: 1rem;
        padding: 2rem 0;

        @include breakpoint(medium) {
            margin-bottom: 0;
            padding: 4rem 0;
        }

        img.episode-image {
            border-radius: 50%;
        }

        .episode-guest-photos {
            display: flex;
            max-width: 147px;
            margin: 0 auto 1rem;
            align-items: center;

            img.episode-guest-photo {
                border-radius: 50%;

                @include breakpoint(medium) {
                    max-width: 294px;
                }
            }
        }
    }

    .post-section {
        &.episode-reasons {
            color: $dark;
        }
    }

    .episode-link,
    .episode-guest {
        margin-bottom: 1rem;
        color: $dark;

        a {
            text-decoration: underline;

            &:link, &:visited {
                color: #44AFA0;
            }

            &:active, &:hover {
                color: darken(#44AFA0, 5);
            }
        }
    }

    h3.episode-guest-name {
        color: $dark;
        font-size: .81rem;
        font-weight: 900;
        margin: .5rem auto 0;
        text-align: center;
    }

    h4.episode-guest-links-header {
        color: $dark;
        font-size: .81rem;
        font-weight: 900;
        margin: .5rem 0;
    }

    ul.episode-guest-links {
        margin: 0 0 1rem;
        padding: 0;
        list-style-type: none;

        li {
            display: inline;

            a {
                display: inline-block;
                background: $dark;
                padding: .5rem;
                border-radius: 50%;
                text-align: center;
                line-height: 1rem;

                svg {
                    display: block;
                    margin: 0 auto;
                    height: 1rem;
                    fill: $white;
                }

                &:hover {
                    background: #000;
                }
            }
        }
    }

    .episode-highlight-timestamp code {
        border-width: 0;
        background: transparent;
        padding: 0;
    }

    .episode-highlight-description {
        color: $dark;
    }

    .yanaf-episode-player {
        border-width: 0;
        border-radius: 6px;
        display: block;
        overflow: hidden;
        width: 100%;
    }
    
    .episode-transcript-text {
        color: $dark;
    }

    .episode-transcript-excerpt {
        position: relative;

        .episode-transcript-text {
            position: relative;
            z-index: 10;
            user-select: none;

            &:after {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: -moz-linear-gradient(top, #f5f5f000 0%, #f5f5f0 100%);
                background: -webkit-linear-gradient(top, #f5f5f000 0%, #f5f5f0 100%);
                background: linear-gradient(to bottom, #f5f5f000 0%, #f5f5f0 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00f5f5f0', endColorstr='#f5f5f0', GradientType=0);
                content: ' ';
                display: block;
                z-index: 20;
                pointer-events: none;
            }

            p:last-child {
                margin-bottom: 0;
            }
        }

        .episode-transcript-loader {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 30;
            margin: 0 auto;
            background: $white;
            border: 1px solid $button-background;
            color: $button-background;
        }
    }
}