body.page-template-page-contact {
    aside.sidebar {
        .menu {
            li {
                text-transform: none;
                font-size: .56rem;

                > a {
                    &:link, &:visited, &:hover, &:active {
                        display: block;
                        color: $dark;
                        padding: 1rem;
                        border: 1px solid $dark;
                        border-radius: 2rem;
                        text-align: center;
                    }
                }

                &.active {
                    > a {
                        &:link, &:visited, &:hover, &:active {
                            background: $active;
                            border-color: $active;
                            color: $white;
                        }
                    }
                }
            }
        }
    }

    .page-header {
        background: transparent;
        color: $dark;
        padding: 108px 0 1rem;
    }

    .cell.single {
        margin: 0 0 1rem;

        .newsletter-form {
            label.checkbox-label {
                display: flex;
                margin-bottom: 1rem;

                > input[type="checkbox"] {
                    transform: scale(1.5);
                    margin: 0 1rem 0;
                }
            }
        }
    }
}