body.single {
    .post-header {
        background: $dark;
        padding: 4rem 0;
        text-align: center;
        color: #fff;

        .post-date {
            margin-bottom: 0;
        }

        .post-title {
            font-weight: 400;
            line-height: 1.1;
            margin: .5rem auto;

            @include breakpoint(large) {
                width: 80%;
            }
        }

        img.post-image {
            width: 294px;
            max-width: 80%;
            display: block;
            margin: 0 auto 1rem;
        }
    }

    .post-section {
        margin-top: 2rem;
        border-bottom: 1px solid $dark;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            border-bottom: 0;
        }

        h2 {
            margin-bottom: .5rem;
        }

        &.post-description {
            color: $dark;   
            font-weight: 400;
            font-size: 1.56rem;
        }
    }

    aside.sidebar {
        @include breakpoint(medium) {
            display: block;
            margin: 54px 0 1rem;
        }
    }
}

.cell.single {
    margin: 1rem auto;

    @include breakpoint(medium) {
        margin-top: 54px;
    }

    h2 {
        color: $dark;
        font-size: .81rem;
        font-weight: 900;
        text-transform: uppercase;
        margin: 0 0 1rem;
    }
}
