.app-links-wrapper {
    background: #fff;
    @include section-wrapper;

    .apps-subtitle {
        text-align: center;
        @include section-subtitle;
    }

    p.app-links {
        margin-top: 1rem;
        text-align: center;

        img {
            margin: 0 .5rem;
        }
    }
}

footer {
    background: $bg-footer;
    color: $white;
    padding: 1rem 0;

    .logo-cell {
        align-items: center;
    }

    img.yanaf-logo {
        transform: rotate(-15deg);
        max-width: 100%;

        @include breakpoint(medium) {
            margin-top: 20px;
            position: relative;
        }
    }

    .tags {
        margin: auto;
    }

    .tagline {
        font-size: 1.13rem;
        font-weight: 900;
        margin: 0 0 .25rem;
    }

    .subtag {
        margin: 0;
    }

    h2 {
        font-size: 1rem;
        text-transform: uppercase;
    }

    a, label {
        &, &:active, &:visited, &:hover {
            color: $white;
        }
    }

    .newsletter-cell {
        a {
            text-decoration: underline;
        }

        .fields {
            display: flex;
            border-bottom: 1px solid $white;
            margin-bottom: 1rem;

            input {
                flex-grow: 1;
            }
        }

        input {
            background: transparent;
            color: $white;
            outline: none;
            margin: 0;
            padding: 0;

            &, &:active, &:focus {
                box-shadow: none;
                border: none;
            }

            &:active, &:focus {
                background: darken($bg-footer, 3);
                outline: 0;
            }
        }

        button {
            background: transparent;
            padding: 0 1rem;
            margin: 0;
        }
    }

    ul.menu {
        display: block;
        margin: 1rem 0 2rem 0;
        text-align: center;

        @include breakpoint(medium) {
            margin: 1rem 0;
            text-align: left;
        }
    }

    ul.legal-menu {
        text-align: center;
        list-style-type: none;
        margin: 0;

        li {
            margin: 0 .5rem;
            display: inline;
        }
    }

    .footer-widget {
        padding: 1rem 0;
        text-align: center;

        @include breakpoint(medium) {
            text-align: left;
        }
    }

    ul.follow-menu {
        list-style-type: none;
        margin: 0;

        li {
            display: inline;

            a {
                display: inline-block;
                background: $emerald;
                border-radius: 50%;
                padding: .5rem;

                svg {
                    height: 1em;
                    display: block;

                    path {
                        fill: #fff;
                    }
                }
            }
        }
    }

    .copyright {
        margin: 1rem auto;
        text-align: center;

        @include breakpoint(medium) {
            margin: 0 auto;
            text-align: left;
        }
    }
}