// Colours
$bg-body: #F5F5F0;
$dark: #707070;
$pear: #6FB52B;
$seaweed: #1B3D20;
$emerald: #188140;
$graphite: #6F6F6E;
$border-color: $dark;
$bg-reviews: $seaweed;
$text-reviews: #fff;
$primary-color: $pear;
$bg-footer: $emerald;
$active: #44AFA0;
$pagination-item-background-current: transparent;
$pagination-item-color-current: #000;
$pagination-item-padding: .75rem 1rem;

// Fonts
$font-family: 'Montserrat', sans-serif;
$body-font-family: 'Montserrat', sans-serif;

// Menu
$menu-color: $dark;
$menu-color-active: darken($dark, 10);
$menu-font-family: $font-family;
$menu-font-size: .95rem;
$menu-font-weight: bold;

// Title bar
$titlebar-background: transparent;
$titlebar-color: $dark;
$titlebar-padding: 0;
$titlebar-icon-color: $dark;
$titlebar-icon-color-hover: darken($dark, 10);

// Buttons
$button-radius: 2em;
$button-padding: 1em 3em;
$button-background: $primary-color;